table {
  border-collapse: collapse;
  width: 800px;
}

table, td, th {    
  border: 1px solid #d1d0d0;
  text-align: left;
}

th, td, button, select{
  padding: 5px;
}

button {
  margin-bottom: 5px;
}

p {
  font-size: 20px;
  font-weight: 600;
}